@model IEnumerable<ChapeauPOS.Models.Table>
@{
    ViewData["Title"] = "Tables";
}

<h1>@ViewData["Title"]</h1>

<div class="Table_Overview">
    @foreach (var table in Model)
    {
        string tableStatusStyle = table.TableStatus switch
        {
            TableStatus.Occupied => "background-color: #FF6347;",   // Tomato
            TableStatus.Reserved => "background-color: #FFD700;",   // Gold
            TableStatus.Free => "background-color: #90EE90;",       // LightGreen
            _ => ""
        };
        <div class="Restaurant_Table" onclick="location.href='/Orders/CreateOrder/@table.TableNumber'">
            <div class="chair top" style="@tableStatusStyle"></div>
            <div class="chair left" style="@tableStatusStyle"></div>
            <div class="table_card" style="@tableStatusStyle">
                <div class="table_card_body">
                    <h5>@table.TableNumber</h5>
                    <p>@table.TableStatus</p>
                </div>
            </div>
            <div class="chair right" style="@tableStatusStyle"></div>
            <div class="chair bottom" style="@tableStatusStyle"></div>
        </div>
    }
</div>
