@model IEnumerable<ChapeauPOS.Models.Table>
@{
    ViewData["Title"] = "Tables";
    Layout = "~/Views/Shared/_TableLayout.cshtml";
}

@{
    if (TempData["Error"] != null)
    {
        <div id="SuccesMessage">
            <img src="~/assets/Smallicons/Property 1=RedCross.svg" alt="Checkmark" /><h4>@TempData["Error"]</h4>
        </div>
    }
    if (TempData["Success"] != null)
    {
        <div id="SuccesMessage">
            <img src="~/assets/Smallicons/GreenCheckmark.svg" alt="Checkmark" /><h4>@TempData["Success"]</h4>
        </div>
    }
    string starterIcon = "";
    string mainIcon = "";
    string dessertIcon = "";
    string drinkIcon = "";
}

<div class="Table_Overview">
    @foreach (var table in Model)
    {
        string pointerEventYesNo = "";
        string tableBorderStatus = "";
        string tableStatusStyle = table.TableStatus switch
        {
            TableStatus.Occupied => "background-color: #FF6347;",   // Tomato
            TableStatus.Reserved => "background-color: #FFD700;",   // Gold
            TableStatus.Free => "background-color: #90EE90;",       // LightGreen
            _ => ""
        };

        <div class="Table_Wrap">
            <div class="TableOrderIcons_Container">
                @if (ViewBag.KitchenOrders != null)
                {
                    foreach (Order order in ViewBag.KitchenOrders)
                    {
                        if (order.Table.TableNumber == table.TableNumber)
                        {
                            @foreach (var course in order.OrderItems.Where(OrderItem => OrderItem.OrderItemStatus != OrderItemStatus.Served).OrderBy(oi => oi.MenuItem.Course).GroupBy(oi => oi.MenuItem.Course))
                            {
                                if (course.All(oi => oi.CourseStatus == CourseStatus.Ready))
                                {
                                    starterIcon = "/assets/CourseIcons/Property 1=AppetizerReady.svg";
                                    mainIcon = "/assets/CourseIcons/Property 1=MainReady.svg";
                                    dessertIcon = "/assets/CourseIcons/Property 1=DesertReady.svg";
                                    drinkIcon = "/assets/CourseIcons/Property 1=GlassReady.svg";
                                    pointerEventYesNo = "";
                                }
                                else if (course.All(oi => oi.CourseStatus == CourseStatus.Ordered))
                                {
                                    starterIcon = "/assets/CourseIcons/Property 1=AppetizerOrdered.svg";
                                    mainIcon = "/assets/CourseIcons/Property 1=MainOrdered.svg";
                                    dessertIcon = "/assets/CourseIcons/Property 1=DesertOrdered.svg";
                                    drinkIcon = "/assets/CourseIcons/Property 1=GlassOrdered.svg";
                                    pointerEventYesNo = "Order_notification_row_ATAG";
                                }
                                else if (course.All(oi => oi.CourseStatus == CourseStatus.Preparing))
                                {
                                    starterIcon = "/assets/CourseIcons/Property 1=AppetizerPrepairing.svg";
                                    mainIcon = "/assets/CourseIcons/Property 1=MainPrepairing.svg";
                                    dessertIcon = "/assets/CourseIcons/Property 1=DesertPrepairing.svg";
                                    drinkIcon = "/assets/CourseIcons/Property 1=GlassPrepairing.svg";
                                    pointerEventYesNo = "Order_notification_row_ATAG";
                                }
                                tableBorderStatus = "PrepairingBorder Border1pxSolid";
                                switch (course.Key)
                                {
                                    case MenuCourse.Starter:
                                        <div class="course-starter">
                                            <form action="/Tables/SetOrderItemsAsServed" method="post">
                                                <input type="hidden" name="orderId" value="@order.OrderID" />
                                                <input type="hidden" name="menuCourse" value="@MenuCourse.Starter" />
                                                <input type="hidden" name="orderItemsStatus" value="@OrderItemStatus.Served" />
                                                <input type="hidden" name="tableNumber" value="@table.TableNumber" />
                                                <button class="@pointerEventYesNo atag" type="submit"><img src="@starterIcon" alt="Alternate Text" /></button>
                                            </form>
                                        </div>
                                        break;
                                    case MenuCourse.Main:
                                        <div class="course-main">
                                            <form action="/Tables/SetOrderItemsAsServed" method="post">
                                                <input type="hidden" name="orderId" value="@order.OrderID" />
                                                <input type="hidden" name="menuCourse" value="@MenuCourse.Main" />
                                                <input type="hidden" name="orderItemsStatus" value="@OrderItemStatus.Served" />
                                                <input type="hidden" name="tableNumber" value="@table.TableNumber" />
                                                <button class="@pointerEventYesNo atag" type="submit"><img src="@mainIcon" alt="Alternate Text" /></button>
                                            </form>
                                        </div>
                                        break;
                                    case MenuCourse.Dessert:
                                        <div class="course-dessert">
                                            <form action="/Tables/SetOrderItemsAsServed" method="post">
                                                <input type="hidden" name="orderId" value="@order.OrderID" />
                                                <input type="hidden" name="menuCourse" value="@MenuCourse.Dessert" />
                                                <input type="hidden" name="orderItemsStatus" value="@OrderItemStatus.Served" />
                                                <input type="hidden" name="tableNumber" value="@table.TableNumber" />
                                                <button class="@pointerEventYesNo atag" type="submit"><img src="@dessertIcon" alt="Alternate Text" /></button>
                                            </form>
                                        </div>
                                        break;
                                    case MenuCourse.Drink:
                                        <div class="course-dessert">
                                            <form action="/Tables/SetOrderItemsAsServed" method="post">
                                                <input type="hidden" name="orderId" value="@order.OrderID" />
                                                <input type="hidden" name="menuCourse" value="@MenuCourse.Drink" />
                                                <input type="hidden" name="orderItemsStatus" value="@OrderItemStatus.Served" />
                                                <input type="hidden" name="tableNumber" value="@table.TableNumber" />
                                                <button class="@pointerEventYesNo atag" type="submit"><img src="@drinkIcon" alt="Alternate Text" /></button>
                                            </form>
                                        </div>
                                        break;
                                }
                            }
                        }
                    }
                }
            </div>
            <div class="Restaurant_Table @tableBorderStatus" onclick="location.href='/Orders/CreateOrder/@table.TableNumber'">
                <div class="chair top" style="@tableStatusStyle"></div>
                <div class="chair left" style="@tableStatusStyle"></div>
                <div class="table_card" style="@tableStatusStyle">
                    <div class="table_card_body">
                        <h5>@table.TableNumber</h5>
                        <p>@table.TableStatus</p>
                    </div>
                </div>
                <div class="chair right" style="@tableStatusStyle"></div>
                <div class="chair bottom" style="@tableStatusStyle"></div>
            </div>
        </div>
    }
</div>
