@model ChapeauPOS.Models.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<header>
    <nav>
        <div class="Logo_container">
            <img class="Logo_Image" src="/assets/Logo.svg" alt="Alternate Text" />
            <h2 class="Logo">ChapeauPOS</h2>
        </div>
    </nav>
</header>
<h1>@ViewData["Title"]</h1>

@if(ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger"> @ViewBag.ErrorMessage</div>
}
@{
    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger"> @TempData["ErrorMessage"]</div>
    }
}
<div class="LoginPage_body">
    @foreach (Employee employee in  ViewBag.Employees)
    {
        string employeeIcon = "";
        switch (employee.Role)
        {
            case Roles.Manager:
                if(employee.Gender == EmployeeGender.Male)
                {
                employeeIcon = "ManagerIcon";
				}
				else
				{
					employeeIcon = "ManagerIconF";
				}
                break;
            case Roles.Waiter:
                if (employee.Gender == EmployeeGender.Male)
                {
                    employeeIcon = "WaiterIcon";
                }
                else
                {
                    employeeIcon = "WaitressIcon";
                }
                break;
            case Roles.Bartender:
                if (employee.Gender == EmployeeGender.Male)
                {
                    employeeIcon = "BartenderIcon";
                }
                else
                {
                    employeeIcon = "BartenderIconF";
                }
                break;
            case Roles.Cook:
                if (employee.Gender == EmployeeGender.Male)
                {
                    employeeIcon = "CookIcon";
                }
                else
                {
                    employeeIcon = "CookIconF";
                }
                break;

        }
    <div class="Login_card">
		<div class="Login_card_body">
            <div class="@employeeIcon"></div>
			<h5 class="card-title">@employee.FirstName @employee.LastName</h5>
			<p class="card-text">Role: @employee.Role</p>
            <a class="conf_button" >Login</a>

            <div class="popupOverlay">
                <div class="popupContainer">
                    <div class="popupHeader">
						<h2>Login</h2>
						<button class="confirmation_cancelation">X</button>
					</div>
					<p>Are you sure you want to login as @employee.FirstName @employee.LastName?</p>
					<p>Enter your password:</p>
                <form action="/Home/Login" method="POST">
                    <article class="form-group">
                            <input type="hidden" name="EmployeeID" value="@employee.EmployeeId" required />
                    </article>
                    <article class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" asp-for="Password" required />
                    </article>
                    <button type="submit" class="btn btn-primary">Login as @employee.FirstName</button>
                </form>
                 </div>
            </div>
		</div>
	</div>
}
</div>

<script>
    const loginButtons = document.getElementsByClassName("conf_button");
    const popupOverlays = document.getElementsByClassName("popupOverlay");
    const confirmationButton = document.getElementById("confirmation_button");
    const confirmationCancelation = document.getElementsByClassName("confirmation_cancelation");

    for (let i = 0; i < loginButtons.length; i++)
    {
        loginButtons[i].addEventListener("click", function () {
            popupOverlays[i].style.display = "block";
        });
    }
    for (let i = 0; i < loginButtons.length; i++) {
        confirmationCancelation[i].addEventListener("click", function () {
            popupOverlays[i].style.display = "none";
        });
    }
    
</script>

