@model List<ChapeauPOS.Models.Order>
@{
	ViewData["Title"] = "Kitchen - Running Orders";
}

<div style="margin:0;display:flex;justify-content:center;">
	<a href="/KitchenBar/KitchenFinishedOrders" class="btn btn-light" style="border-radius: 10px 10px 0 0;width:120px;">Finished</a>
	<a href="/KitchenBar/KitchenRunningOrders" class="btn btn-secondary" style="border-radius: 10px 10px 0 0;width:120px;">Running</a>
</div>
<form method="get" action="/KitchenBar/KitchenRunningOrders">
	<button type="submit" class="btn btn-dark">Refresh to get new orders</button>
</form>
@if (Model != null && Model.Any())
{
	<div class="orders-container d-flex flex-row flex-wrap">
		@foreach (Order order in Model)
		{
			<div class="order-card m-2">
				<!-- Header -->
				<div class="order-header d-flex justify-content-between align-items-center" style="background-color:#0A60DA;padding:0 15px 15px 15px;border-radius:8px 8px 0 0;color:white">
					<div style="color:black;background-color:#FF9F40;padding:5px;border-radius:3px 3px 0 0;">Table @order.Table.TableNumber</div>
					<div class="fw-bold">@order.CreatedAt.ToString("hh:mm tt")</div>
					<div data-order-id="@order.OrderID">@order.RunningTime.ToString(@"hh\:mm")</div>
				</div>

				<!-- Order Items -->
				@foreach (var course in order.OrderItems.OrderBy(oi => oi.MenuItem.Course).GroupBy(oi => oi.MenuItem.Course))
				{
					// Get the most advanced status in this course group
					//string? courseStatus = course.Max(oi => oi.CourseStatus);
					CourseStatus courseStatus;

					if (course.All(oi => oi.CourseStatus == CourseStatus.Ready))
					{
						courseStatus = CourseStatus.Ready;
					}
					else if (course.Any(oi => oi.CourseStatus == CourseStatus.Preparing))
					{
						courseStatus = CourseStatus.Preparing;
					}
					else
					{
						courseStatus = CourseStatus.Ordered;
					}

					<div class="mb-3">
						<div style="background-color:#d5d5d5;display:flex;justify-content:space-between;align-items:center;padding:6px 15px;">
							<h6>@course.Key</h6>
							<div>
								<form action="/KitchenBar/UpdateItemStatusBasedOnCourse" method="post">
									<input type="hidden" name="orderId" value="@order.OrderID" />
									<input type="hidden" name="course" value="@course.Key" />
									@if (courseStatus == CourseStatus.Ordered)
									{
										<button type="submit" name="courseStatus" value="Preparing" class="btn btn-warning">Mark as Preparing</button>
									}
									else if (courseStatus == CourseStatus.Preparing)
									{
										<button type="submit" name="courseStatus" value="Ready" class="btn btn-success">Mark as Ready</button>
									}
									else
									{
										<button type="submit" name="courseStatus" class="btn btn-secondary" disabled>Ready</button>
									}
								</form>
								@* <form method="post" action="/KitchenBar/UpdateKitchenCourseStatus">
								<input type="hidden" name="orderId" value="@order.OrderID" />
								<input type="hidden" name="menuCourse" value="@course.Key" />
								@if (courseStatus == CourseStatus.Ordered)
								{
									<button type="submit" name="courseStatus" value="Preparing" class="btn btn-warning">Mark as Preparing</button>
								}
								else if (courseStatus == CourseStatus.Preparing)
								{
									<button type="submit" name="courseStatus" value="Ready" class="btn btn-success">Mark as Ready</button>
								}
								else if (courseStatus == CourseStatus.Ready)
								{
									<button type="submit" name="courseStatus" value="Served" class="btn btn-primary">Mark as Served</button>
								}
								else
								{
									<button type="submit" name="courseStatus" class="btn btn-secondary" disabled>Served</button>
								}
							</form> *@
							</div>
						</div>
						@foreach (OrderItem item in course)
						{
							<div class="d-flex justify-content-between align-items-start mb-2" style="padding:6px 15px;">
								<div style="width:200px;">
									<strong>@item.Quantity x @item.MenuItem.ItemName</strong><br />
									@if (!string.IsNullOrEmpty(item.MenuItem.ItemDescription))
									{
										<small class="text-muted">@item.MenuItem.ItemDescription</small>
										<br />
									}
									@if (!string.IsNullOrEmpty(item.Notes))
									{
										<em class="text-muted small">@item.Notes</em>
									}
								</div>
								<div>
									<form method="post" action="/KitchenBar/UpdateKitchenItemStatus">
										<input type="hidden" name="orderItemId" value="@item.OrderItemId" />
										@if (item.OrderItemStatus == OrderItemStatus.Ordered)
										{
											<button type="submit" name="orderItemStatus" value="@OrderItemStatus.Preparing" class="btn btn-warning">Mark as Preparing</button>
										}
										else if (item.OrderItemStatus == OrderItemStatus.Preparing)
										{
											<button type="submit" name="orderItemStatus" value="@OrderItemStatus.Ready" class="btn btn-success">Mark as Ready</button>
										}
										else
										{
											<button type="submit" name="orderItemStatus" class="btn btn-secondary" disabled>Ready</button>
											@* <button type="submit" name="orderItemStatus" value="@OrderItemStatus.Served" class="btn btn-primary">Mark as Served</button> *@
										}
									</form>

									@* <select name="orderItemStatus" class="form-select form-select-sm"
											onchange="this.form.submit()">
										@if (item.OrderItemStatus == OrderItemStatus.Ordered)
										{
											<option value="@OrderItemStatus.Ordered" selected>Ordered</option>
											<option value="@OrderItemStatus.Preparing">Preparing</option>
										}
										else if (item.OrderItemStatus == OrderItemStatus.Preparing)
										{
											<option value="@OrderItemStatus.Preparing" selected>Preparing</option>
											<option value="@OrderItemStatus.Ready" style="background-color:#00B27F;">Ready</option>
										}
										else if (item.OrderItemStatus == OrderItemStatus.Ready)
										{
											<option value="@OrderItemStatus.Ready" selected style="background-color:#00B27F;">Ready</option>
											<option value="@OrderItemStatus.Served">Served</option>
										}
										else
										{
											<option value="@item.OrderItemStatus" selected>@item.OrderItemStatus</option>
										}
									</select> *@

								</div>
							</div>
						}
					</div>
				}

				<!-- Order Status -->
				<div class="mt-5 mb-2" style="padding:0 15px;">
					<form action="/KitchenBar/CloseFoodOrder" method="post">
						<input type="hidden" name="orderId" value="@order.OrderID" />
						<button style="width:100%;" type="submit" class="btn btn-success">Mark Order as Ready</button>
					</form>
					@*  <form method="post" action="/KitchenBar/UpdateKitchenOrderStatus">
					<input type="hidden" name="orderId" value="@order.OrderID" />
					<select name="orderStatus" class="form-select"
							onchange="this.form.submit()">
						@if (order.OrderStatus == OrderStatus.Ordered)
						{
							<option value="@OrderStatus.Ordered" selected>Ordered</option>
							<option value="@OrderStatus.Preparing">Preparing</option>
						}
						else if (order.OrderStatus == OrderStatus.Preparing)
						{
							<option value="@OrderStatus.Preparing" selected>Preparing</option>
							<option value="@OrderStatus.Ready" style="background-color:#00B27F;">Ready</option>
						}
						else if (order.OrderStatus == OrderStatus.Ready)
						{
							<option value="@OrderStatus.Ready" selected style="background-color:#00B27F;">Ready</option>
							<option value="@OrderStatus.Served">Served</option>
						}
						else
						{
							<option value="@order.OrderStatus" selected>@order.OrderStatus</option>
						}
					</select>
				</form>  *@
				</div>
			</div>
		}
	</div>
}
else
{
	<div class="alert alert-info">There are no running orders at the moment.</div>
}


@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
	<script>
		const connection = new signalR.HubConnectionBuilder()
			.withUrl("/restaurantHub")
			.build();

		connection.on("NewOrder", function (orderItem) {
			const list = document.getElementById("kitchen-orders");
			const li = document.createElement("li");
			li.innerText = `${orderItem.menuItemName} for Table ${orderItem.tableNumber}`;
			list.appendChild(li);
		});
		connection.start().catch(err => console.error(err.toString()));

		connection.on("NewOrder", function () {
			location.reload();
		});


				setInterval(() => {
			document.querySelectorAll('[data-order-id]').forEach(el => {
				fetch(`/KitchenBar/GetRunningKitchenTime?orderId=${el.dataset.orderId}`)
					.then(response => response.text())
					.then(time => el.textContent = time);
			});
		}, 1000);
	</script>
}
<ul id="kitchen-orders">
</ul>
